
.orange {
    position: absolute;
    background: radial-gradient(5% 5% at 43% 54%, #ecebe4 40%, transparent 50%), 
    radial-gradient(11% 11% at 43% 52%, #1c1800 40%, transparent 50%),
    radial-gradient(5% 5% at 65% 52%, #ecebe4 40%, transparent 50%),
    radial-gradient(11% 11% at 65% 50%, #1c1800 40%, transparent 50%),
    radial-gradient(10% 5% at 40% 60%, #ff007d 40%, transparent 50%), 
    radial-gradient(10% 5% at 68% 58%, #ff007d 40%, transparent 50%),
    radial-gradient(7% 16% at 78% 28%, #ffffff 40%, transparent 50%),
    radial-gradient(13% 12% at 55% 70%, #1c1800 40%, transparent 40%), 
    radial-gradient(15% 5% at 48% 10%, #8f4105 40%, transparent 50%), #ff7000;
    width: 13em;
    height: 13em;
    top: 40%;
    left: 40%;
    border-radius: 50%;
    z-index: 5;
    animation: closedEyes 1s linear infinite;
}

.orange::before  {
    content: "";
    position: absolute;
    display: block;
    background: #009a00;
    width: 0.8em;
    height: 7em;
    top: -41%;
    left: 47%;
    border-radius: 10px / 12px;
    transform: rotate(3deg);
}

.orange::after  {
    content: "";
    position: absolute;
    background: linear-gradient(#00eb00, #009a00);
    width: 3em;
    height: 1em;
    top: -22%;
    left: 50.5%;
    border-radius: 50%;
    transform: rotate(320deg);
}

@keyframes closedEyes {
    to {
        background: radial-gradient(5% 5% at 43% 54%, #1c1800 40%, transparent 50%), 
    radial-gradient(11% 11% at 43% 52%, #1c1800 40%, transparent 50%),
    radial-gradient(5% 5% at 65% 52%, #1c1800  40%, transparent 50%),
    radial-gradient(11% 11% at 65% 50%, #1c1800 40%, transparent 50%),
    radial-gradient(10% 5% at 40% 60%, #ff007d 40%, transparent 50%), 
    radial-gradient(10% 5% at 68% 58%, #ff007d 40%, transparent 50%),
    radial-gradient(7% 16% at 78% 28%, #ffffff 40%, transparent 50%),
    radial-gradient(20% 12% at 55% 70%, #1c1800 20%, transparent 20%), 
    radial-gradient(15% 5% at 48% 10%, #8f4105 40%, transparent 50%), #ff7000;
    }
}